*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    ---clr--en: (#FFF199);
    ---clr--to: (#060E07);
    ---clr--tre: (#B287C0);
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060E07;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: #FFF199;
    padding: 8px 25px;
    transition: all .5 ease;
}
.navbar ul li a:hover{
    background-color:#B287C0;
    color:#FFF199;
    box-shadow: 0 0 10px #B287C0; 
}

/* Forside section */
#forside{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0,  0, 0,5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: #FFF199;
}
#forside::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background:url('watch.jpg') no-repeat center center/cover ;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;   
}
.hjem{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #FFF199; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;   
}
.titel{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    z-index: -1;
  
   
}
.knap{
     padding: 10px 35px;
     background-color: transparent;
     border: 3px solid #B287C0;
     color: #FFF199;
     outline: none ;
     transition: .6s ease;
     font-size: 15px; 
}
.knap:hover{
    cursor: pointer;
    background-color: #B287C0;
    color: #FFF199;
    box-shadow: 0 0 5px #B287C0, 0 0 10px #B287C0, 0 0 15px #B287C0;
    font-weight: bold; 
      
}

/* Om mig */
#ommig{
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    padding: 20px;  
    margin-bottom: 50px;
    align-items: center; 
}
.knap2{
    padding: 10px 35px;
    background-color: transparent;
    border: 3px solid #B287C0;
    color: #060E07;
    outline: none ;
    transition: .6s ease;
    font-size: 15px; 
}
.knap2:hover{
   cursor: pointer;
   background-color: #B287C0;
   color: #FFF199;
   box-shadow: 0 0 5px #B287C0, 0 0 10px #B287C0, 0 0 15px #B287C0;
   font-weight: bold; 
     
}
#billede{
    display:flex ;
}
#billede img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px; 
}

/* portfolie section */
#portfolie{
    display: flex;
    flex-direction: column;
    background-color: #060E07;
    color: #FFF199;
    align-items: center;
    padding: 20px;

}
.gallary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallary img{
    width: 360px;
    height: 240px;
    margin: 10px;
}